@model ConsumoDeAPI_MegaRed.Models.ApuestasDeportivasModel.PreventaResponseModel.Detalle
@{
    ViewBag.Title = "LuckiaPreventaResponse";
}

@using (Html.BeginForm())
{
    <div class="align">
        <div class="login">
            <header class="login__header">
                <h2>Detalle preventa Wplay</h2>
            </header>

            <div class="login__form">
                <fieldset disabled>

                    <div class="mb-3 ">
                        <label class="col-sm-6 col-form-label">Nombre </label>
                        @Html.EditorFor(Model => Model.nombre, new { htmlAttributes = new { @class = "input-lg", type = "text" } })
                    </div>

                    <div class="mb-3 ">
                        <label class="col-sm-6 col-form-label">Documento</label>
                        @Html.EditorFor(Model => Model.documento, new { htmlAttributes = new { @class = "input-lg", type = "text" } })
                    </div>
                    <div class="mb-3 ">
                        <label class="col-sm-6 col-form-label">Id Transaccion</label>
                        @Html.EditorFor(Model => Model.idTransaccion, new { htmlAttributes = new { @class = "input-lg", type = "text" } })
                    </div>
                    <div class="mb-3 ">
                        <label class="col-sm-6 col-form-label">Fecha</label>
                        @Html.EditorFor(Model => Model.fechaPlana, new { htmlAttributes = new { @class = "input-lg", type = "text" } })
                    </div>
                    

                </fieldset>
                <div>
                    <button runat="server" type="submit" class="btn btn-primary btn-lg" Text="Button">Aceptar</button>
                </div>

                <div class="h4">
                    @ViewBag.Alert
                </div>
            </div>
        </div>
    </div>



}


